<template>
  <div class="home">
    <Choose-First-Pkmn2 />
  </div>
</template>

<script>
// @ is an alias to /src
import ChooseFirstPkmn2 from '@/components/ChooseFirstPkmn2.vue'

export default {
  name: 'home',
  components: {
    ChooseFirstPkmn2
  }
}
</script>
