<template>
  <section class="pkmn-choose">

    <h2>Choose Your First Pokemon!!</h2>


    <ul class="pkmn-choose__dropdown" >
      <li class="pkmn-choose__item" v-for="pkmn in pkmnList" :key="pkmn.id" @click="chosenPkmnId = pkmn.id, getPkmnInfo(chosenPkmnId)">
        <span class="pkmn-choose__item-icon">
          <img :src="getPkmnImg(pkmn.id)" :alt="pkmn.name" class="pkmn-choose__item-icon-img">
        </span>&nbsp;
        <span class="pkmn-choose__item-num">{{ pkmn.id }}</span> &nbsp;
        <span class="pkmn-choose__item-name">{{ pkmn.name }}</span>
      </li>
    </ul>

    <div class="pkmn-choose__chosen" v-if="chosenPkmnId != 0">
      <h3>You chose:</h3>
      <div>#{{ chosenPkmnId }}, {{ chosenPkmn.name }}</div>
      <img :src="getPkmnImg()" :alt="chosenPkmn.name">
    </div>
    
    <!-- Will make this a separate componenet -->
    <div class="pkmn-team">
      <h2 class="pkmn-team__title">Here is your Pokemon Team!</h2>
      <ul class="pkmn-team__list">
        <li class="pkmn-team__list-pkmn" v-for="pkmn in myPkmn" :key="pkmn.id">{{ pkmn.name }}</li>
      </ul>
    </div>
    
  </section>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  name: "ChooseFirstPkmn", 
  data() {
    return {
      wtf: '',
      chosenPkmnId: 0,
      chosenPkmn: {
        name: '',
        id: this.chosenPkmnId,
        type1: '',
        type2: null,
        image: '',
        descr: ''
      },
      otherPkmn: [],
    }
  },
  methods: {
    ...mapActions(["addMyPkmn"]),
    async getPkmnInfo(id) {
      if (this.chosenPkmnId != 0){
        console.log('chosen pokemon id is: ' + id)
        const apiUrl = 'https://pokeapi.co/api/v2/pokemon/'
        const fetchPkmn = await fetch(apiUrl + id)
        const fetchPkmnData = await fetchPkmn.json()
        console.log(fetchPkmnData)
        this.chosenPkmn.name = fetchPkmnData.name
        this.chosenPkmn.type1 = fetchPkmnData.types[0].type.name
        if (fetchPkmnData.types[1]) {
          this.chosenPkmn.type2 = fetchPkmnData.types[1].type.name
        }
        this.addMyPkmn(this.chosenPkmn)
      }
    },
    getPkmnImg (icon) {
      const imgDir = icon ? 'pkmn-icons' : 'pkmn'
      const imgUsed = icon ? icon : this.chosenPkmnId
      // console.log('the imgDir is ' + imgDir)
      const imageUrl = require(`../assets/${imgDir}/${imgUsed}.png`);
      this.chosenPkmn.image = imageUrl
      return imageUrl
    },
    
    
  },
  computed: {
    ...mapGetters(['pkmnList', 'myPkmn']),
    
    
  },
  mounted() {

  }

}
</script>

<style scoped>

.pkmn-choose__dropdown {
  list-style: none;
  background: #f4f4f4;
  max-height: 400px;
  overflow-y: auto;
  padding: 2em;
}
.pkmn-choose__item {
  padding: .5em ;
  border-bottom: 1px dotted #CCC;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
}
.pkmn-choose__item:hover {
  background: rgba(0,0,0,0.1);
}
.pkmn-choose__item-num {
  display: none;
}

</style>