<template>
  <section class="pkmn-selection">

    <h2>Choose Your First Pokemon</h2>
    <select name="" class="pkmn-selection__select" v-model="chosenPkmnId" @change="getPkmnInfo(chosenPkmnId),getPkmnImg">
      <option value="0" :key="0" selected>--Select Pokemon--</option>
      <option class="pkmn" v-for="pkmn in pkmnList" :key="pkmn.id" :value="pkmn.id">{{ pkmn.name }}</option>
    </select>

    <div class="pkmn-selection__chosen" v-if="chosenPkmnId != 0">
      <h3>You chose:</h3>
      <div>#{{ chosenPkmnId }}, {{ chosenPkmn.name }}</div>
      <img :src="getPkmnImg" :alt="chosenPkmn.name">
    </div>
    
    
  </section>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: "ChooseFirstPkmn", 
  data() {
    return {
      chosenPkmnId: 0,
      chosenPkmn: {
        name: '',
        id: this.chosenPkmnId,
        type1: '',
        type2: null,
        image: '',
        descr: ''
      },
      otherPkmn: [],
    }
  },
  methods: {
    async getPkmnInfo(id) {
      if (this.chosenPkmnId != 0){
        console.log('hi')
        const apiUrl = 'https://pokeapi.co/api/v2/pokemon/'
        const fetchPkmn = await fetch(apiUrl + id)
        const fetchPkmnData = await fetchPkmn.json()
        console.log(fetchPkmnData)
        this.chosenPkmn.name = fetchPkmnData.name
        this.chosenPkmn.type1 = fetchPkmnData.types[0].type.name
        if (fetchPkmnData.types[1]) {
          this.chosenPkmn.type2 = fetchPkmnData.types[1].type.name
        }
      }
    },
    
  },
  computed: {
    ...mapGetters(['pkmnList']),
    getPkmnImg () {
      if (this.chosenPkmnId !== 0){
        console.log(`${this.chosenPkmnId}`)
        const imageUrl = require(`../assets/pkmn/${this.chosenPkmnId}.png`);
        this.chosenPkmn.image = imageUrl
        return imageUrl
      }
    }
    
  }
}
</script>

<style>

</style>