<template>
  <section class="trainer-gender">
    <!-- Ask for gender -- boy or girl, sorry if that offends anyone -->
  </section>
</template>

<script>
export default {

}
</script>

<style>

</style>